@import "tailwindcss";

/* =============================== Import Custom Fonts ============================= */
@font-face {
  font-family: 'customFont';
  src: url('./assets/fonts/RubikGlitch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'primaryFont';
  src: url('./assets/fonts/Delius-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ============================= Set custom font for body ========================== */
body {
  font-family: 'primaryFont', sans-serif;
}