@import "tailwindcss";

/* =============================== Import Custom Fonts ============================= */
@font-face {
  font-family: 'customFont';
  src: url('./assets/fonts/RubikGlitch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'customFont', sans-serif;
}